/* @override http://localhost:4000/css/comments.css */

#disqus_thread {
	margin-top: 100px;
	border-top: dashed 1px rgba(0,0,0,0.2);
}

.dsq-subscribe-rss,
.dsq-subscribe-email {
	display: none;
}

a.dsq-brlink {
	margin-top: 10pt;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #222;
	width: 200px;
}

a.dsq-brlink:hover
{
	border-color: rgba(0,0,0,0);
	background: none;
}

.dsq-clearfix,
.dsq-global-toolbar-dropdown,
#dsq-toolbar-dropdown,
#dsq-toolbar-dropdown-wrap,
#dsq-account-dropdown {	
	overflow: visible;
}

#dsq-account-dropdown {
	display: none;
}




