/* @override http://localhost:4000/css/screen.css */

* {
	display: block;
	overflow: hidden;
	//position: relative;
}

html {
	overflow: auto;
}


head, script {
	display: none;
}

span, a, em, strong, code {
	display: inline;
}

ul, ol, li, a, p,
article, section, address,
.card,
#wrapper {
	overflow: visible;
}


ul { list-style-type: disc; }
ol { list-style-type: decimal; }
li { display: list-item; }

code {
	font-size: 16px;
}

header, img, footer, #pagefooter, body {
	position: relative;
}

body {
	font-family: Palatino, Georgia, "Times New Roman", Times, serif;
	color: #222;
	background-color: #fff;
	font-size: 14pt;
	margin: 0;
}


#wrapper {
	min-height: 400px;
}

.right {
	float: right;
	clear: right;
}

.left {
	float: left;
	clear: left;
}

footer#pagefooter,
pre code,
header#pageheader
{
	background-color: #222;
	color: #eee;
}

#pageheader,
article #tags,
article #categories,
.social,
#disqus_thread,
#pagefooter {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* @group Page Header & Footer */

footer#pagefooter,
header#pageheader {
	left: 0px;
	right: 0px;
	min-height: 40px;
}



/* @group Header */
#pageheader {
	position: absolute;
	height: 30px;
	font-family: "Courier New", Courier, mono;
	overflow: visible;
	z-index: 10;
}

#pageheader a {
	display: inline-block;
	color: #eee;
	text-decoration: none;
}

#sitelogo {
	float: left;
}

#pageheader .stuffing{
	margin-top: 8px;
	margin-bottom: 8px;
	overflow: visible;
}

#sitelogo a {
	background: url(../images/logo-small-w.png) no-repeat 0;
	padding-left: 30px;
	padding-top: 2px;
	
	color: #eee;
	text-decoration: none;
}

#pageheader #category {
	float: right;
}

#pageheader #category a {
	opacity: 0.5;
}

#pageheader #category a:hover {
	opacity: 1.0;
}
#pageheader img {
	display: inline-block;
	top: 3pt;
}



/* @end Header */

/* @group Footer */

footer#pageFooter {
	bottom: 0px;
	left: 0px;
	right: 0px;
	min-height: 24px;
	padding-bottom: 20px;
}

/* @end Footer */

/* @end Page Header & Footer */

/* @group Page Padding */

div.stuffing,
div#wrapper {
	width: 730px;
	margin-left: auto;
	margin-right: auto;
}

div#wrapper {
	top: 30pt;
}

/* @end */


/* @group Headdings */
h1 {
	font-size: 30pt;
	margin-top: 50pt;
	margin-bottom: 10px;
}

h2 {
	font-size: 25pt;
	margin: 30pt 0 0 0;
}

h3 {
	margin-bottom: 0;
}

h4 {
	margin-bottom: 0;
	margin-top: 0;
}
/* @end */

/* @group Articles */

article {
	margin-top: 80px;
}

article header h1 {
	margin: 0 0 0 0;
}

article header time {
	color: rgba(0,0,0,0.5);
	font-size: 16pt;
	display: inline-block;
	cursor: default;
}

article header address {
	float: left;
	display: inline-block;
	margin: 0 0 0 30pt;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	cursor: default;
	clear: left;
	width: 400px;
}

article footer {
	padding: 5 10 5 10;
	font: 12pt "Courier New", Courier, mono;
	text-align: center;
	border-radius: 5pt;
	margin: 60pt 20pt 0pt 20pt;
	background-color: #fff;
	color: #aaa;
}

/* @end */

article a {
	color: #3861ac;
	background-color: rgba(211,237,254,0);
	border-radius: 5px;
	border: 1px solid rgba(122,174,253,0);
	display: inline;
	text-decoration: none;
	margin: -3px;
	padding: 3px;
}

article a:hover {
	border: 1px solid rgba(122,174,253,0.5);
	background-color: rgba(211,237,254,0.25);
}

footer h1 {
	margin: 0;
	color: #cccece;
	text-decoration: none;
	font: normal 18pt "Courier New", Courier, mono;
}

/* @group Code */

pre code {
	cursor: text;
	display: block;
	margin: 0px 20pt 0 20pt;
	padding: 10px 20px 15px 20px;
	border-radius: 10px;
	font-size: 14px;
	overflow: auto;
}

/* @end */

/* @group Tags & Categories */

article #tags {
	float: right;
	clear: none;
}

article #tags li {
	overflow: visible;
}
article #tags:before {
	background: url(http://static.filsinger.me/icons/DefaultIcon/16x16/tag.png) no-repeat right 4px;
	width: 20px;
	display: inline-block;
	content: ".";
	color: transparent;
	opacity: 0.1;
	top: -1px;
	height: 20px;
	position: relative;
}

article #tags:hover li:before
{
	opacity: 1.0;
}
article #tags:hover {
	width: auto;
	opacity: 1.0;
}

article #categories {
	clear: left;
	float: left;
	visibility: hidden;
}

article #tags,
article #categories {
	display: block;
	//padding: 2pt 0pt 2pt 0pt;
	color: rgba(0,0,0,0.5);
}

article #tags ul a,
article #categories ul a,
article #tags ul a:hover,
article #categories ul a:hover {
	background: none;
	border: none;
	color: rgba(0,0,0,0.5);
}

#tags ul, 
#categories ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	cursor: default;
}

article li.tag,
li.category {
	display: inline-block;
	//color: rgba(128,0,0,1);
	//background-color: rgba(255,0,0,0.1);
	//border: solid 1px rgba(255,0,0,0.3);
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	cursor: default;
	opacity: 0.5;
	font-size: 12pt;
	padding: 2px 5px;
}

article li.tag:hover,
article li.category:hover
{

}

article li.category
{
	color: rgba(0,128,0,1);
	background-color: rgba(0,128,0,0.1);
	border: solid 1px rgba(0,128,0,0.3);
}

/* @end */

/* @group Page Footer */

#pagefooter .column
{
	margin-top: 20pt;
	width: 50%;
	display: inline-block;
	top: 0;
	bottom: 0;
	position: static;
}

#pagefooter ul {
	padding: 0;
	margin-top: 5pt;
	font-size: 14pt;
}

#pagefooter ul li {
	list-style: none;
	padding: 2pt 0 0 0;
}

#pagefooter li a {
	color: #eee;
	border: none;
	background-color: none;
	margin-left: 2pt;
}

#pagefooter li a:hover {
	border: none;
	background: none;
}

/* @end */

/* @group Index Page Cards */

.card {
	margin: 0 0 20px;
}

.card.large {
	clear: both;
	text-align: left;
}

.card.right,
.card.left {
	width: 50%;
}

.card ul,
.card ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.card .stuffing {
	width: 300px;
	margin-left: 0;
	margin-right: 0;
}
.card .categories li,
.card .tags li a {
	display: inline-block;
}

/* @end */

/* @group Social Networking */

.license {
	display: inline-block;
	margin-top: 50px;
	float: left;
}

.license a {
	display: inline-block;
}

.social {
	display: inline-block;
	float: right;
	margin-top: 50px;
}

.social a,
.social a:hover {
	background-color: none;
	border: none;
}

/* @end */

.tooltip {
	background-color: rgba(0,0,0,0.8);
	color: #999;
	font-size: 10pt;
	opacity: 0.2;
}

.tooltiptrigger:hover~.tooltip {
	opacity: 1.0;
}




/* @group Page Footer */

#pagefooter,
#pagefooter li {
	font: 11pt "Courier New", Courier, mono;
	color: #888;
}

#pagefooter h1 {
	padding: 0;
	cursor: default;
	color: rgba(253,89,98,0.6);
	margin: 0 0 5px;
}

#pagefooter li a,
#pagefooter a {
	color: rgba(153,191,253,0.6);
	text-decoration: none;
}

#pagefooter li a:hover,
#pagefooter a:hover {
	color: rgba(153,191,253,1.0);
	text-decoration: none;
}

#pagefooter .block {
	left: 0;
	display: block;
	//padding: 0 0 20px;
	margin: 0;
}

#pagefooter .row {
	display: block;
	clear: both;
	text-align: center;
	padding-top: 5px;
}

#pagefooter .column {
	margin-bottom: 0px;
}

#pagefooter .column:empty,
#pagefooter .row:empty {
	display: none;
}

#pagefooter #license img {
	opacity: 0.1;
	float: left;
	margin-right: 10px;
	width: 64px;
}

#pagefooter #license p {
	margin: 8px 0 0;
}

#pagefooter ul#commoninfo {
	display: block;
	cursor: default;
	padding-bottom: 10px;
	padding-top: 10px;
}

#pagefooter ul#commoninfo li:before ,
#pagefooter ul#commoninfo li:after {
	content: "|";
	color: #555;
}
#pagefooter ul#commoninfo li {
	display: inline-block;
}

#pagefooter .column.left
{
	width: 560px;
}

#pagefooter .column.right
{
	width: 150px;
}

#pagefooter ul,
#pagefooter ul li {
	padding: 0;
	margin: 0;	
}

/* @end Page Footer */
