---
layout: simple
title: Jason Filsinger
author: jason
meta-description: "Jason Filsinger's Blog"
---

<section class="left card">
    {% include big_site_logo.html %}
    <!-- <div class="stuffing">{% include big_site_logo.html %}</div> -->
</section>

<section class="right card">
    <header>
        <h1>About Me</h1>
    </header>
    Game developer, programmer, zombie food.
</section>

<section class="right card social">
    <header>
        <h1>Social</h1>
    </header>
    {% include social_list.html %}
</section>

{% if site.posts != empty %}
<section class="large card">
    <header>
        <h1>Posts</h1>
    </header>
    <ul class="posts">
        {% for post in site.posts %}
        <li>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y - %m - %d" }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
            <!-- <a href="{{ post.url }}"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y - %m - %d" }}</time> &raquo; {{ post.title }}</a> -->
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
