<head>
  <title>filsinger.me - {{ page.title }}</title>
  <link rel="stylesheet" href="/css/screen.css" media="all" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" media="all" type="text/css" />
  <link rel="alternate" type="application/rss+xml" title="filsinger.me" href="/feed/rss.xml" />
  <link rel="alternate" type="application/atom+xml" title="filsinger.me" href="/feed/atom.xml" />

  <meta charset="utf-8">
  <meta name="robots" content="noodp, noydir" />
  {% if page.meta-description != null %}<meta name="description" content="{{ page.meta-description }}" />{% endif %}
  {% if page.comments != null %}
  <link rel="stylesheet" href="/css/comments.css" media="all" type="text/css" />
  {% endif %}
</head>
