$light_color_surround_header: rgba(253, 89, 98, 0.6);
$light_color_surround_link:   rgba(153, 191, 253, 1.0);
$light_color_surround_text:   #888888;
$light_color_secondary_background: #222222;
$light_color_background: #ffffff;
$light_color_text: #222222;
$light_color_text_faded: #cccece;
$light_color_link_color: #3861ac;
$light_color_link_hover_color: #8085A8;
$light_color_link_visited_color: #BC6C25;
$light_color_link_visited_hover_color: #5F627D;
$light_color_footer_background: none;
$light_color_footer_text: #AAAE8E;
$light_color_page_header_text: #eeeeee;
$light_color_text_code: #eeeeee;

$dark_color_surround_header: rgba(253, 89, 98, 0.6);
$dark_color_surround_link:   rgba(153, 191, 253, 1.0);
$dark_color_surround_text:   #888888;
$dark_color_background: #333333;
$dark_color_secondary_background: #222222;
$dark_color_text: #FEFAE0;
$dark_color_text_faded: #cccece;
$dark_color_link_color: #DDA15E;
$dark_color_link_hover_color: #8085A8;
$dark_color_link_visited_color: #BC6C25;
$dark_color_link_visited_hover_color: #5F627D;
$dark_color_footer_background: none;
$dark_color_footer_text: #cccece;
$dark_color_page_header_text: #eeeeee;
$dark_color_text_code: #eeeeee;


//--------------------------------------------------------------------------------
:root {
        --color_surround_header:          #{$dark_color_surround_header};
        --color_surround_link:            #{$dark_color_surround_link};
        --color_surround_text:            #{$dark_color_surround_text};
        --color_background:               #{$dark_color_background};
        --color_secondary_background:     #{$dark_color_secondary_background};
        --color_text:                     #{$dark_color_text};
        --color_text_faded:               #{$dark_color_text_faded};
        --color_link_color:               #{$dark_color_link_color};
        --color_link_hover_color:         #{$dark_color_link_hover_color};
        --color_link_visited_color:       #{$dark_color_link_visited_color};
        --color_link_visited_hover_color: #{$dark_color_link_visited_hover_color};
        --color_footer_background:        #{$dark_color_footer_background};
        --color_footer_text:              #{$dark_color_footer_text};
        --color_page_header_text:         #{$dark_color_page_header_text};
        --color_text_code:                #{$dark_color_text_code};
}


@media (prefers-color-scheme: light) {
    :root {
        --color_surround_header:          #{$light_color_surround_header};
        --color_surround_link:            #{$light_color_surround_link};
        --color_surround_text:            #{$light_color_surround_text};
        --color_background:               #{$light_color_background};
        --color_secondary_background:     #{$light_color_secondary_background};
        --color_text:                     #{$light_color_text};
        --color_text_faded:               #{$light_color_text_faded};
        --color_link_color:               #{$light_color_link_color};
        --color_link_hover_color:         #{$light_color_link_hover_color};
        --color_link_visited_color:       #{$light_color_link_visited_color};
        --color_link_visited_hover_color: #{$light_color_link_visited_hover_color};
        --color_footer_background:        #{$light_color_footer_background};
        --color_footer_text:              #{$light_color_footer_text};
        --color_page_header_text:         #{$light_color_page_header_text};
        --color_text_code:                #{$light_color_text_code};
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --color_surround_header:          #{$dark_color_surround_header};
        --color_surround_link:            #{$dark_color_surround_link};
        --color_surround_text:            #{$dark_color_surround_text};
        --color_background:               #{$dark_color_background};
        --color_secondary_background:     #{$dark_color_secondary_background};
        --color_text:                     #{$dark_color_text};
        --color_text_faded:               #{$dark_color_text_faded};
        --color_link_color:               #{$dark_color_link_color};
        --color_link_hover_color:         #{$dark_color_link_hover_color};
        --color_link_visited_color:       #{$dark_color_link_visited_color};
        --color_link_visited_hover_color: #{$dark_color_link_visited_hover_color};
        --color_footer_background:        #{$dark_color_footer_background};
        --color_footer_text:              #{$dark_color_footer_text};
        --color_page_header_text:         #{$dark_color_page_header_text};
        --color_text_code:                #{$dark_color_text_code};
    }
}

:root {
    color: var(--color_text);
    background-color: var(--color_background);
}

body {
    color: var(--color_text);
    background-color: var(--color_background);
}

body,
header#pageheader,
header#pageheader a
header#pageheader #sitelogo,
footer#pagefooter {
    transition: background 1s, color 1s;
}

header#pageheader {
    background-color: var(--color_secondary_background);
    color: var(--color_text);
}

header#pageheader  {
    a {
        color: var(--color_page_header_text);
    }

    #sitelogo {
        color: var(--color_page_header_text);
    }
}


footer {
    h1 {
        color: var(--color_text_faded);
    }

    &#pagefooter {
        background-color: var(--color_secondary_background);
        color: var(--color_surround_text);

        h1 {
            color: var(--color_surround_header);
        }

        a {
            background-color: none;
            color: var(--color_surround_link);
            opacity: 0.6;
            &:hover {
                opacity: 1.0;
            }
        }

        ul {
            li {
                color: var(--color_surround_text);
            }
        }
    }
}

pre code {
    background-color: var(--color_secondary_background);
    color: var(--color_text_code);
}

article {
    a {
        color: var(--color_link_color);

        &:hover {
            color: var(--color_link_hover_color);
        }
    }

    time {
        opacity: 0.5;
    }
}

#wrapper {
    overflow: hidden;
}

a#skiplink {
    color: var(--color_secondary_background);
    background-color: var(--color_secondary_background);
    display: block;
    width: 100%;
    height: 0px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
