
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #aaa;
    }

    article {
        footer {
            background-color: #333;
            color: #666;
        }

        a {
            color: #3861ac;
            background-color: rgba(211, 237, 254, 0);
            border: 1px solid rgba(122, 174, 253, 0);
            &:hover {
                border-color: rgba(122, 174, 253, 0.2);
                background-color: rgba(211, 237, 254, 0.1);
            }
        }
    }

    .license a {
        opacity: 0.5;
    }
}
