// Fonts
$font_code: 'Source Code Pro', sans-serif;
$font_body: 'Open Sans', sans-serif;
$font_headding: 'Ubuntu', sans-serif;
$font_footer: "Courier New", Courier, mono, monospace;


$path_images: '/assets/images';
$path_site_images: '/assets/images/site';
$path_icons: '/assets/images/icons';
$path_logos: '/assets/images/logos';

* {
    display: block;
    overflow: hidden;
}

html {
    overflow: auto;
}

head, script {
    display: none;
}

body {
    min-height: 100vh;
    padding: 0px;
    position: relative;
    font-family: $font_body;
    font-size: 14pt;
    margin: 0;
    display: grid;
}

table { display: table; }
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
thead {
 	display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

caption {
    display: table-caption;
    text-align: center;
}



span, a, em, strong, code, time {
    display: inline;
}

ul, ol, li, a, p, article, section, address, .card, #wrapper {
    overflow: visible;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    display: list-item;
}

figure.highlight {
    border: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

code {
    font-family: $font_code;
    font-size: 14px;
}

header, img, footer {
    position: relative;
}



#wrapper {
    min-height: 400px;
}

.right {
    float: right;
    clear: right;
}

.left {
    float: left;
    clear: left;
}

.social, #disqus_thread, #pagefooter, #pageheader, article #tags {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

// @group Page Header & Footer

a img {
    border: none;
}


// @group Header

header#pageheader {
    left: 0px;
    right: 0px;
    min-height: 40px;
    height: 30px;
    font-family: $font_code;
    font-size: 16px;
    overflow: visible;
    z-index: 10;

    a {
        display: inline-block;
        text-decoration: none;
    }

    .stuffing {
        margin-top: 8px;
        margin-bottom: 8px;
        overflow: visible;
    }

    #sitelogo {
        float: left;
        a {
            background-image: url(#{$path_site_images}/filsinger-small-white.svg);
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: 24px 24px;
            padding-left: 30px;
            padding-top: 2px;
            text-decoration: none;
        }
    }

    #category {
        float: right;

        a {
            opacity: 0.5;
            &:hover{
                opacity: 1.0;
            }
        }
    }

    img {
        display: inline-block;
        top: 3pt;
    }
}

// @end Header

// @group Footer

footer {
    h1 {
        margin: 0;
        text-decoration: none;
        font: normal 18pt $font_footer;
    }
}

// @end Footer

// @end Page Header & Footer

// @group Page Padding

div {
    &.stuffing, &#wrapper {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    &#wrapper {
        top: 30pt;
    }
}

// @end

// @group Headdings

h1, h2, h3 {
    font-family: $font_headding;
    font-weight: bold;
}

h1 {
    font-size: 30pt;
    margin-top: 50pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 25pt;
    margin: 30pt 0 0 0;
}

h3 {
    margin-bottom: 0;
}

h4 {
    margin-bottom: 0;
    margin-top: 0;
}

// @end

// @group Articles

// @end

// @group Code

pre code {
    cursor: text;
    display: block;
    margin: 0px 0pt 0 0pt;
    padding: 10px 20px 15px 20px;
    border-radius: 10px;
    font-size: 13px;
    overflow: auto;
}

// @end

// @group Tags

article {
    margin-top: 80px;
    padding: 0px 32px 0px 32px;

    header {
        h1 {
            margin: 0 0 0 0;
        }

        time {
            font-size: 16pt;
            display: inline-block;
            cursor: default;
        }
    }

    address {
        float: left;
        clear: left;
        display: inline-block;
        margin: 0 0 0 30pt;
        font-size: 16pt;
        font-style: normal;
        cursor: default;
        width: 400px;
    }

    ul {
        &.tags {
            display: block;
            margin: 0;
            cursor: default;
            float: right;
            clear: none;

            &:before {
                background: url(#{$path_icons}/16x16/tag.png) no-repeat right 4px;
                width: 20px;
                display: inline-block;
                content: ".";
                color: transparent;
                opacity: 0.1;
                top: -1px;
                height: 20px;
                position: relative;
            }

            &:hover {
                width: auto;
                opacity: 1.0;
            }

            li {
                display: inline-block;
                cursor: default;
                font-size: 12pt;
                padding: 2px 5px;
                opacity: 0.5;
                &:hover { opacity: 1.0; }
                a, a:hover {
                    background: none;
                    border: none;
                 }
            }
        }
    }

    footer {
        padding: 5 10 5 10;
        font-family: 12pt, $font_footer;
        text-align: center;
        margin: 60pt 20pt 0pt 20pt;
        opacity: 0.4;
    }

    a {
        border-radius: 5px;
        display: inline;
        text-decoration: none;
        margin: -3px;
        padding: 3px;
    }

    figure.highlight {
        margin: 0px;
    }
}

// @end

// @group Page Footer

footer#pagefooter {
    //position: absolute;
    //bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 24px;
    padding-bottom: 20px;
    position: relative;
    font: 11pt $font_footer;
    margin: 20px 0 0 0;

    a {
        border: none;
        margin-left: 2pt;
        text-decoration: none;
        &:hover {
            border: none;
            background: none;
            text-decoration: none;
        }
    }

    .column {
        margin-top: 20pt;
        width: 50%;
        display: inline-block;
        top: 0;
        bottom: 0;
        position: static;
    }

    ul {
        padding: 0;
        margin-top: 5pt;
        font-size: 14pt;
        padding: 0;
        margin: 0;

        li {
            display: list-item;
            list-style: none;
            padding: 2pt 0 0 0;
            font: 11pt $font_footer;
            padding: 0;
            margin: 0;
        }
    }

    h1 {
        padding: 0;
        cursor: default;
        margin: 0 0 5px;
    }

    .block {
        left: 0;
        display: block;
        margin: 0;
    }

    .row {
        display: block;
        clear: both;
        text-align: center;
        padding-top: 5px;
        &:empty {
            display: none;
        }
    }

    .column {
        margin-bottom: 0px;

        &:empty {
            display: none;
        }

        &.left {
            width: 560px;
        }

        &.right {
            width: 150px;
        }
    }

    #license {
        img {
            opacity: 0.1;
            float: left;
            margin-right: 10px;
            width: 64px;
        }

        p {
            margin: 8px 0 0;
        }
    }

    ul#commoninfo {
        display: block;
        cursor: default;
        padding-bottom: 10px;
        padding-top: 10px;

        li {
            display: inline-block;
            &:before, &:after {
                content: "|";
                display: inline-block;
                opacity: 0.6;
            }
        }
    }
}
// @end

// @group Index Page Cards

.card {
    display: block;
    margin: 0 0 10px 0;
    &.large {
        clear: both;
        text-align: left;
    }

    &.right, &.left {
        width: 50%;
    }

    ul, ol {
        margin: 10px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .stuffing {
        width: 300px;
        margin-left: 0;
        margin-right: 0;
    }

    .tags {
        li, li a {
            display: inline-block;
        }
    }

    header {
        margin-bottom: 10px;
    }

    &.social
    {
        ul {
            display: grid;
            grid-template-columns: auto auto;

            li {
                align: left;
                height: 32px;
                a {
                    padding: 4px 8px 4px 40px;
                    margin: 4px 0px 4px 0px;
                    background-repeat: no-repeat;
                    background-position: 8px center;
                    background-size: 24px 24px;
                    display: block;

                    &#mastodon {
                        background-image: url(#{$path_logos}/mastodon/logo-purple.svg);
                    }

                    &#pixelfed {
                        background-image: url(#{$path_logos}/pixelfed/icon.svg);
                    }

                    &#github {
                        background-image: url(#{$path_logos}/github/github-mark.svg);
                    }

                    &#flickr {
                        background-image: url(#{$path_logos}/flickr/flickr.svg);
                    }
                }
            }
        }
    }

    li a#pgpkey {
        background-image: url(#{$path_logos}/gnupg/logo.svg);
        background-position: 8px center;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        height: 32px;
        padding: 4px 8px 4px 40px;
        margin: 4px 0px 4px 0px;
        display: block;
    }
}


// @end

// @group Social Networking

.license {
    display: inline-block;
    margin-top: 50px;
    float: left;
    a {
        display: inline-block;
    }
}

.social {
    display: inline-block;
    float: right;
    //margin-top: 50px;
    //margin-bottom: 50px;
    a {
        border: none;
        &:hover {
            border: none;
        }
    }
}

ul.posts
{
    list-style-type: none;

    li {
        &:before {
            background: url(#{$path_icons}/16x16/blog.png) no-repeat right 4px;
            width: 20px;
            display: inline-block;
            content: ".";
            color: transparent;
            opacity: 0.5;
            top: -1px;
            height: 20px;
            position: relative;
            //left: -32px;
            //margin-right: -32px;
        }
    }
}

footer .posts li:before {
    display: none;
}

// @end

.tooltip {
    font-size: 10pt;
    opacity: 0.2;
}

.tooltiptrigger:hover ~ .tooltip {
    opacity: 1.0;
}

div.logo {
    background-image: url(#{$path_site_images}/filsinger-big.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 100% 100%;
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto 0 auto;
}

@media only screen and (min-width: 430px) and (max-width: 767px) {
    body{
        width: 100%;
    }

    article {
        /* width: 100%; */
        max-width: 100%;
        padding: 0px;
    }

    #pagefooter {
        font-size: 12pt;
        li {
            font-size: 12pt;
        }

        .row{
            width: 100%;
        }

        .column {
            &.left, &.right {
                width: 100%;
                float: none;
            }
        }

        #license {
            img {
                display: none;
            }
            p{
                width: 100%;
            }
        }
    }

    div {
        &.stuffing, &#wrapper {
            width: 100%;
        }
    }

    .card {
        width: 100%;
        &.left, &.right, &.large {
            width: 100%;
            float: none;
        }
    }

    article .card img, div.big.logo, ul.posts li span {
        display: none;
    }

    time.right {
        float: none;
    }

    body, time, code, time.right, article header address, pre code {
        font-size: 12pt;
    }

    pre code {
        border-radius: 0px;
    }

    h1 {
        font-size: 16pt;
    }
    h2 {
        font-size: 15pt;
    }
    h3 {
        font-size: 14pt;
    }
    h4 {
        font-size: 13pt;
    }
    h5 {
        font-size: 12pt;
    }
    #wrapper {
        min-height: 0px;
    }
    article header address, pre code{
        margin: 0;
    }
}
