
.highlight {
    //.c! // Comment

    // Error
    .err {
        color: #a61717;
        background-color: #e3d2d2;
    }

    // Keyword // Operator
    .k, .o {
        font-weight: bold;
    }
    
    // Comment.Multiline
    .cm {
        color: #7ff999;
        font-style: italic;
    }
    
    // Comment.Preproc
    .cp {
        color: #e2c377;
    }

    // Comment.Single // Comment.Special
    .c1, .cs {
        color: #7ff999;
        font-style: italic;
    }

    // Generic.Deleted
    .gd {
        color: #000000;
        background-color: #ffdddd;
        
        // Generic.Deleted.Specific
        .x {
            color: #000000;
            background-color: #ffaaaa;
        }
    }
    
    // Generic.Emph
    .ge {
        font-style: italic;
    }

    // Generic.Error
    .gr {
        color: #aa0000;
    }

    // Generic.Heading
    .gh {
        color: #999999;
    }

    // Generic.Inserted
    .gi {
        color: #000000;
        background-color: #ddffdd;

        // Generic.Inserted.Specific
        .x {
            color: #000000;
            background-color: #aaffaa;
        }
    }
    
    // Generic.Output
    .go {
        color: #888888;
    }

    // Generic.Prompt
    .gp {
        color: #555555;
    }

    // Generic.Strong
    .gs {
        font-weight: bold;
    }

    // Generic.Subheading
    .gu {
        color: #aaaaaa;
    }

    // Generic.Traceback
    .gt {
        color: #aa0000;
    }

    // Keyword
    .k {
        color: #99bffd;
    }

    // Keyword.Constant // Keyword.Declaration // Keyword.Pseudo // Keyword.Reserved // Keyword.Type
    .kc, .kd, .kp, .kr, .kt {
        color: #3da7fc;
    }

    // Literal.Number
    .m {
        color: #009999;
    }

    // Literal.String
    .s {
        color: #fd5962;
    }

    // Name.Attribute // Name.Builtin
    .na, .nb {
        color: #e9f9fd;
    }

    // Name.Class
    .nc {
        color: #e9f9fd;
        font-weight: bold;
    }

    // Name.Constant // Name.Entity // Name.Exception // Name.Function // Name.Namespace // Name.Tag // Name.Variable
    .no, .ni, .ne, .nf, .nn, .nt, .nv {
        color: #e9f9fd;
    }

    // Operator.Word
    .ow {
        font-weight: bold;
    }

    // Text.Whitespace
    .w {
        color: #bbbbbb;
    }

    // Literal.Number.Float // Literal.Number.Hex // Literal.Number.Integer // Literal.Number.Oct
    .mf, .mh, .mi, .mo {
        color: #92bffc;
    }
    
    // Literal.String.Backtick // Literal.String.Char // Literal.String.Doc // Literal.String.Double // Literal.String.Escape // Literal.String.Heredoc // Literal.String.Interpol // Literal.String.Other // Literal.String.Regex // Literal.String.Single // Literal.String.Symbol
    .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
        color: #fd5962;
    }

    // Name.Builtin.Pseudo
    .bp {
        color: #999999;
    }

    // Name.Variable.Class // Name.Variable.Global // Name.Variable.Instance
    .vc, .vg, .vi {
        color: #008080;
    }

    // Literal.Number.Integer.Long
    .il {
        color: #009999;
    }
}
