---
layout: simple
title: Jason Filsinger
author: jason
meta-description: "About Jason Filsinger"
---

{% assign author = site.data.authors[page.author] %}

<section class="left card">
    <div class="stuffing">
        <div class="big logo"></div>
    </div>
</section>

<section class="right card">
    <header>
        <h1>About Me</h1>
    </header>
    Game developer, programmer, zombie food.
</section>

<section class="right card social">
    <header>
        <h1>Social</h1>
    </header>
    {% include social_list.html %}
</section>

{% if author.pgp != null %}
<section class="right card">
    <header>
        <h1>PGP Public Key</h1>
    </header>

    <ul class="pgp">
        {% for pgp in author.pgp %}
        <li><a id="pgpkey" rel="me" href="{{ pgp.url }}" title="{{ pgp.tooltip }}">{{ pgp.name }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endif %}
