---
---

/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: 'Hack';
  src: url('/assets/fonts/hack-regular.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-regular.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/assets/fonts/hack-bold.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-bold.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/assets/fonts/hack-italic.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-italic.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('/assets/fonts/hack-bolditalic.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-bolditalic.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: italic;
}



/*--------------------------------------------------------------------------------*/
/* Open Sans
/*--------------------------------------------------------------------------------*/


/* open-sans-medium-italic-latin */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 500;
	font-stretch: 100%;
	src: local("Open Sans Medium Italic"), local("OpenSans-MediumItalic"), url(/assets/fonts/open-sans-medium-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-medium-italic-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 500;
	font-stretch: 100%;
	src: local("Open Sans Medium Italic"), local("OpenSans-MediumItalic"), url(/assets/fonts/open-sans-medium-italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-extrabold-italic-latin */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 800;
	font-stretch: 100%;
	src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url(/assets/fonts/open-sans-extrabold-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-extrabold-italic-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 800;
	font-stretch: 100%;
	src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url(/assets/fonts/open-sans-extrabold-italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-light-italic-latin */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	font-stretch: 100%;
	src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url(/assets/fonts/open-sans-light-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-light-italic-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	font-stretch: 100%;
	src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url(/assets/fonts/open-sans-light-italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-italic-latin */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url(/assets/fonts/open-sans-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-italic-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url(/assets/fonts/open-sans-italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-semibold-italic-latin */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 600;
	font-stretch: 100%;
	src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url(/assets/fonts/open-sans-semibold-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-semibold-italic-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 600;
	font-stretch: 100%;
	src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url(/assets/fonts/open-sans-semibold-italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-bold-italic-latin */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700;
	font-stretch: 100%;
	src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(/assets/fonts/open-sans-bold-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-bold-italic-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700;
	font-stretch: 100%;
	src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(/assets/fonts/open-sans-bold-italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-bold-latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url(/assets/fonts/open-sans-bold-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-bold-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url(/assets/fonts/open-sans-bold-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-semibold-latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(/assets/fonts/open-sans-semibold-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-semibold-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(/assets/fonts/open-sans-semibold-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-extrabold-latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(/assets/fonts/open-sans-extrabold-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-extrabold-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(/assets/fonts/open-sans-extrabold-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-light-latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	font-stretch: 100%;
	src: local("Open Sans Light"), local("OpenSans-Light"), url(/assets/fonts/open-sans-light-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-light-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	font-stretch: 100%;
	src: local("Open Sans Light"), local("OpenSans-Light"), url(/assets/fonts/open-sans-light-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-medium-latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	src: local("Open Sans Medium"), local("OpenSans-Medium"), url(/assets/fonts/open-sans-medium-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-medium-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	src: local("Open Sans Medium"), local("OpenSans-Medium"), url(/assets/fonts/open-sans-medium-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/assets/fonts/open-sans-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-latin-ext */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/assets/fonts/open-sans-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
