<!-- -*- coding: utf-8 -*- -->
<!DOCTYPE html>
<html>
    {% include html_head.html %}
    <body class="error">
        {% include page_header.html %}
        <div id="wrapper">
            <article>
                <section class="left card">{% include big_site_logo.html %}</section>
                <section class="right card">
                    <header>
                        <h1>{{ page.title }}</h1>
                    </header>
                    {{ content }}
                </section>
            </article>
        </div>
        {% include page_footer.html %}
    </body>
</html>
