<html>
  <head>
    <title>filsinger.me - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/screen.css" media="all" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" media="all" type="text/css" />
  </head>
  <body>

    <header id="pageheader">
      <div class="stuffing">
	<a href="/">filsinger.me</a>
      </div>
    </header>
    <div id="wrapper">
      <article>
	<header>
	  <h1>{{ page.title }}</h1>
	  <address>By <a href="/">Jason Filsinger</a></address>
	  <time>{{ page.date | date_to_long_string }}</time>
	  <div id="categories">
	    <ul>
	      {% for c in page.categories %}
	      <li class="category">{{ c }}</li>
	      {% endfor %}
	    </ul>
          </div>
	  <div id="tags">
	    <ul>
	      {% for t in page.tags %}
	      <li class="tag">{{ t }}</li>
	      {% endfor %}
	    </ul>
          </div>
	</header>
	<section>
	  {{ content }}
	</section>
	<footer>
	  Thank you for reading.
	</footer>
      </article>

      {% if page.comments != null %}
      <div id="comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	  var disqus_shortname = 'filsingerme'; // required: replace example with your forum shortname

	  /* * * DON'T EDIT BELOW THIS LINE * * */
	  (function() {
	  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	  })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
      {% endif %}
    </div>


    <footer id="pagefooter">
      <div class="stuffing">
	{% if site.related_posts != empty %}
	<div class="column left">
	  <h1>Related Posts</h1>
	  <ul class="posts">
	    {% for post in site.related_posts limit:3 %}
	    <li>&raquo;<a href="{{ post.url }}">{{ post.title }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	{% endif %}
      </div>
    </footer>
  </body>
</html>

