<html>
  <head>
    <title>filsinger.me - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/screen.css" media="all" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" media="all" type="text/css" />
  </head>
  <body class="simple">

    <header id="pageheader">
      <div class="stuffing">
	<a href="/">filsinger.me</a>
      </div>
    </header>
    <div id="wrapper">
      {{ content }}
    </div>

    <footer id="pagefooter">
      <div class="stuffing">
      </div>
    </footer>
  </body>
</html>
